apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: nodejs-app
        image: my-nodejs-app:latest # Replace with node:20 if not using a custom image
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
